<h1>Editing Activity</h1>

<%= render 'form' %>

<%= link_to 'Delete Activity', destination_activity_path(@destination, @activity), method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', activities_path %>
